/* @media (max-height: 575px) {
    html,
    body,
    #app {
        height: fit-content;
        background-color: black;
    }

    #app {
        padding: 30px 0;
    }

    form {
        border-radius: 40px;

        border: 2px solid white;
    }
} */
