.custom_border::after {
    content: "";
    position: absolute;
    bottom: -4px;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    background-color: white;

    width: 0%;
    border-radius: 1px;
}

.custom_border:hover::after {
    width: 50%;
    transition: width 0.3s ease;
}

.custom_border_active::after {
    width: 50%;
}
