::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-thumb {
    background: #5f5f61;
    width: 2px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: white;
}

::-webkit-scrollbar-track {
    background: black;
    width: 2px;
}
