/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    width: 2px;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-track {
    background: black;
    width: 2px;
}
