/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #413f43;
    width: 2px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #413f43;
    width: 2px;
}
